body {
  margin: 0;
  padding: 0;
  background-color: #e6cff5; /* Lila suave */
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  background-color: #bd95e4; /* Morado */
  color: #ffffff; /* Texto blanco */
  padding: 20px;
  text-align: center;
  width: 100%;
}

.main-container {
  background-color: #fa9fd8; /* Rosa suave */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px;
  text-align: center;
  color: #000000; /* Texto en negro */
}

.text-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #ffffff; /* Fondo blanco del input */
  font-size: 1rem;
  color: #000000;
  border: 3px solid;
  animation: changeBorderColor 3s infinite; /* Animaci贸n en el borde */
}

/* Animaci贸n que cambia los colores del borde del input */
@keyframes changeBorderColor {
  0% {
    border-color: #D4145A; /* Color inicial */
  }
  50% {
    border-color: #DD58D6; /* Cambio a morado */
  }
  100% {
    border-color: #97FEED; /* Cambio a azul */
  }
}

.process-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff66c1; /* Bot贸n fucsia */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.process-button:hover {
  background-color: #bd95e4; /* Cambio de color al pasar el cursor a morado */
}

.clear-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000000; /* Bot贸n negro */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #bd95e4; /* Cambio de color a morado */
}

.metrics-display {
  margin-top: 20px;
  background-color: #e6cff5; /* Lila */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color: #000000; /* Texto en negro */
}
